@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* :root {
    --text: #2A041F;
    --text-white:rgb(251, 213, 240);
    --bg: #FBD5F0;
    --primary: #BA128A;
    --secondary: #F6A7E0;
    --accent: #BE138E;

} */
:root {
    --text: #10050B;
    --text-white:rgb(251, 213, 240);
    --bg: #F9EBF3;
    --primary: #CD5B63;
    --secondary: #EBD1BD;
    --accent: #A86634;
    --margin-lg: 5% 12%;
}

[data-theme="dark"] {
    --text: #FAEFF5;
    --bg: #14060E;
    --primary: #A4323A;
    --secondary: #422814;
    --accent: #CB8A57;   
}



body {
    margin: var(--margin-lg);
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background-color: var(--bg);
    font-weight: 400;

    transition: background .3s;
}